<div class="text-white w-full flex flex-col sm:flex-row justify-between gap-4 py-14 px-8 lg:px-24 xl:px-48">
    <div class="flex-1 flex flex-col items-center shadow-2xl bg-gradient-to-br from-indigo-900 to-cyan-500 p-8 rounded-xl">
        <div class="w-8">
            {/*
            <MdLocationOn /> */}
        </div>
        <div class="text-center">Str. Dionisie cel Mic, nr. 26 <br /> Constanta, Romania, 900363</div>
    </div>
    <div class="flex-1 flex flex-col items-center shadow-2xl bg-gradient-to-b from-indigo-900 to-cyan-500 p-8 rounded-xl">
        <div class="w-8">
            {/*
            <MdPhone /> */}
        </div>
        <div class="text-center">
            <b>Tel: </b>+40 722 590 420
        </div>
    </div>
    <div class="flex-1 flex flex-col items-center shadow-2xl bg-gradient-to-bl from-indigo-900 to-cyan-500 p-8 rounded-xl">
        <div class="w-8">
            {/*
            <MdEmail /> */}
        </div>
        <div class="text-center">
            <a href="mailto:malcons_com@yahoo.com">
                malcons_com@yahoo.com
            </a>
        </div>
    </div>
</div>