---
import '../styles/app.css';
import Nav from '@components/Nav.astro';
import Footer from '@components/Footer.astro';
---

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Malcons</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>

<body class="flex flex-col bg-white">
    <Nav />
    <div class="flex-grow relative">
        <slot />
    </div>
    <Footer />
</body>

</html>